<!DOCTYPE html>
<html lang="en">
<head>
  {{> header_partial}}

  <title>Dota 2 - {{changeSet.name}} Changelog</title>
</head>
<body>
  <div class="container">
  {{> search_partial_html}}
  {{#with changeSet}}
  <h1 class="pageTitle">{{name}}</h1>
    {{#each changes}}
      <div class="patch">
        <p><a href="https://www.dota2.com/patches/{{this.version}}"><span class="version">{{this.version}}</span></a><span class="date">{{this.patchDate}}</span></p>
        {{#if generalChanges}}
        <div class="general">
          <h5>General Changes</h5>
          <ul>
            {{#each generalChanges}}
              <li class="changeNote">{{this}}</li>
            {{/each}}
          </ul>
        </div>
        {{/if}}
        {{#if abilityChanges}}
        <div class="abilites">
          <h5>Ability Changes</h5>
          {{#each abilityChanges}}
            <h6 class="abilityName">{{this.name}}</h6>
            <ul>
              {{#each changes}}
                <li class="changeNote">{{this}}</li>
              {{/each}}
            </ul>
          {{/each}}
        </div>
        {{/if}}
        {{#if talentChanges}}
        <div class="talents">
          <h5>Talent Changes</h5>
          <ul>
            {{#each talentChanges}}
              <li class="changeNote">{{this}}</li>
            {{/each}}
          </ul>
        </div>
        {{/if}}
      </div>
    {{/each}}
  {{/with}}
  </div>
</body>
{{> search_partial_script}}
</html>